SECRET_KEY=""

# ===== Stripe development Account Configuration

STRIPE_PUBLIC_KEY=""

STRIPE_SECRET_KEY=""

STRIPE_WEBHOOK_SECRET=""

#Payment Redirect URL For Organziton payment

SUCCESS_URL=""

CANCEL_URL=""

#============== Google Map API Setup =========

GOOGLE_API_KEY=""

AIRLABS_API_KEY=""


# # ===========Dev Database Configuration ==============

DB_NAME=""

DB_USER=""

DB_PASSWORD=""

DB_HOST=""

DB_PORT=""

ADD_CARD_URL=""

REDIS_LOCATION=""

LICENSE_VERIFICATION_PORTAL_URL=""

ADMIN_PORTAL_URL=""

#======================= Bucket Setting ================================

AWS_ACCESS_KEY_ID=""

AWS_SECRET_ACCESS_KEY=""

AWS_STORAGE_BUCKET_NAME=""

AWS_S3_ENDPOINT_URL=""

EMAIL_SENDING_URL=""

EMAIL_SENDER_TOKEN=""

EMAIL_VERIFICATION_FRONTEND_URL=""

URL_TO_SEND_EMAIL_VERIFICATION_URL=""

# twilio_ac Account Configuration

twilio_ac_ACCOUNT_SID=""

twilio_ac_AUTH_TOKEN=""

twilio_ac_VERIFY_SID=""

twilio_ac_WHATSAPP_NUMBER=""

VEHICLE_VERIFICATION_API_URL=""

VEHICLE_VERIFICATION_API_KEY=""
